In [22]:
#Nama : Dhimas Nandsita
#NIm : G6501211010

import mysql.connector
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt

class SOM :
    # Function here computes the winning vector
    # by Euclidean distance
    def winner( self, weights, sample ) :
        
        D = {'0':0,'1':0,'2':0}
        for i in range( len( sample ) ) :
            D['0'] = D['0'] + math.pow( ( sample[i] - weights[0][i] ), 2 )
            D['1'] = D['1'] + math.pow( ( sample[i] - weights[1][i] ), 2 )
            D['2'] = D['2'] + math.pow( ( sample[i] - weights[2][i] ), 2 )

            d = max(D['0'], D['1'], D['2'])
            if(d == D['0']):
                return 0
            if(d == D['1']):
                return 1
            if(d == D['2']):
                return 2
            
    # Function to testing
    def winnerTest ( self, weights, sample) :
        result ={'score':[],'kelas':[],'id':[]}
        
        for i in range( len( sample ) ):
            
            D = {'0':0,'1':0,'2':0}
            
            for j in range (len(sample.loc[0])):
            
                D['0'] = D['0'] + math.pow( ( sample.loc[i][j] - weights[0][j] ), 2 )
                D['1'] = D['1'] + math.pow( ( sample.loc[i][j] - weights[1][j] ), 2 )
                D['2'] = D['2'] + math.pow( ( sample.loc[i][j] - weights[2][j] ), 2 )

            d = max(D['0'], D['1'], D['2'])
            if(d == D['0']):
                result['id'].append(i)
                result['score'].append(D['0'])
                result['kelas'].append('Cemar Berat')
            if(d == D['1']):
                result['id'].append(i)
                result['score'].append(D['1'])
                result['kelas'].append('Cemar Sedang')
            if(d == D['2']):
                result['id'].append(i)
                result['score'].append(D['2'])
                result['kelas'].append('Cemar Ringan')
                    
        return result

    # Function here updates the winning vector
    def update( self, weights, sample, J, alpha ) :

        for i in range(len(weights[0])) :
            weights[J][i] = weights[J][i] + alpha * ( sample[i] - weights[J][i] )

        return weights

In [23]:
conn = mysql.connector.connect(host='localhost',
                                 database='waterquality',
                                 user='root',
                                 password='',
                                 charset='utf8',
                                 use_unicode=True)
         
if conn.is_connected():
    # get records training
    sql_select_Query = '''SELECT `Suhu (C)` as suhu,`Zat padat terlarut (TDS) mg/L` as zt_tds, `Zat padat tersuspensi (TSS) mg/L` as zt_tss,`pH` as ph,`COD (dichromat) mg/L` as cod,`Nitrat mg/L` as nitrat,`Minyak dan Lemak Âµg/L` as minyak,`Bakteri Koli Jml/100 mL`as bk,`Bakteri Koli Tinja Jml/100 mL` as bkt FROM `waterquality_jakarta_training`
                             WHERE `periode` = '2018-1' 
                             AND `Suhu (C)` != ""
                             AND `Zat padat terlarut (TDS) mg/L` != "" 
                             AND `Zat padat tersuspensi (TSS) mg/L`!= ""
                             AND `Nitrat mg/L` != ""
                             AND `Minyak dan Lemak Âµg/L` != ""
                             AND `Bakteri Koli Jml/100 mL` != ""
                             AND `Bakteri Koli Tinja Jml/100 mL` != "" ;'''
    cursor = conn.cursor(buffered=True, dictionary=True)
    cursor.execute(sql_select_Query)        
    data_training = cursor.fetchall()
    #menampilkan data hasil select database
    #print(data_training)
    df = pd.DataFrame(data_training)
    print(df)

   suhu zt_tds zt_tss ph  cod nitrat minyak  bk bkt
0    24     80     24  7    7      1    386   2   4
1    24     91     14  7   11      1   3406   5   1
2    24     99     25  7   10      0    150   8   2
3    24    118     41  7   29      0    302   8   3
4    24    169    147  7   26      0    246   2   1
..  ...    ...    ... ..  ...    ...    ...  ..  ..
75   24    209     20  7   59      0    375   1   3
76   24    124     99  7   10      0     58   3   3
77   24    123     88  7    9      0   2.04  4    6
78   24    122     94  7   28      0   1384   2   2
79   24    314    393  7  337      0   5242   4   1

[80 rows x 9 columns]

In [24]:
#normalisasi data
temp={'suhu':[],'zt_tds':[],'zt_tss':[],'ph':[],'cod':[],'nitrat':[],'minyak':[],'bk':[],'bkt':[]}
for dt in data_training:
        
        temp['suhu'].append(float(dt['suhu']))
        temp['zt_tds'].append(float(dt['zt_tds']))
        temp['zt_tss'].append(float(dt['zt_tss']))
        temp['ph'].append(float(dt['ph']))
        temp['cod'].append(float(dt['cod']))
        temp['nitrat'].append(float(dt['nitrat']))
        temp['minyak'].append(float(dt['minyak']))
        temp['bk'].append(float(dt['bk']))
        temp['bkt'].append(float(dt['bkt']))

        max_suhu = max(temp['suhu'])
        max_zt_tds = max(temp['zt_tds'])
        max_zt_tss = max(temp['zt_tss'])
        max_ph = max(temp['ph'])
        max_cod = max(temp['cod'])
        max_nitrat = max(temp['nitrat'])
        max_minyak = max(temp['minyak'])
        max_bk = max(temp['bk'])
        max_bkt = max(temp['bkt'])
        
data={'suhu':[],'zt_tds':[],'zt_tss':[],'ph':[],'cod':[],'nitrat':[],'minyak':[],'bk':[],'bkt':[]}
for i in temp['suhu']:
        data['suhu'].append(i/max_suhu)
for j in temp['zt_tds']:
        data['zt_tds'].append(j/max_zt_tds)
for k in temp['zt_tss']:
        data['zt_tss'].append(k/max_zt_tss)
for l in temp['ph']:
        data['ph'].append(l/max_ph)
for m in temp['cod']:
        data['cod'].append(m/max_cod)
for n in temp['nitrat']:
        data['nitrat'].append(n/max_nitrat)
for r in temp['minyak']:
        data['minyak'].append(r/max_minyak)
for s in temp['bk']:
        data['bk'].append(s/max_bk)
for p in temp['bkt']:
        data['bkt'].append(p/max_bkt)

In [10]:
df = pd.DataFrame(data)
df

,suhu,zt_tds,zt_tss,ph,cod,nitrat,minyak,bk,bkt
0,0.96,0.106809,0.061069,0.009957,0.020772,0.5,0.073636,0.2,0.444444
1,0.96,0.121495,0.035623,0.009957,0.032641,0.5,0.649752,0.5,0.111111
2,0.96,0.132176,0.063613,0.009957,0.029674,0.0,0.028615,0.8,0.222222
3,0.96,0.157543,0.104326,0.009957,0.086053,0.0,0.057612,0.8,0.333333
4,0.96,0.225634,0.374046,0.009957,0.077151,0.0,0.046929,0.2,0.111111
...,...,...,...,...,...,...,...,...,...
75,0.96,0.279039,0.050891,0.009957,0.175074,0.0,0.071538,0.1,0.333333
76,0.96,0.165554,0.251908,0.009957,0.029674,0.0,0.011064,0.3,0.333333
77,0.96,0.164219,0.223919,0.009957,0.026706,0.0,0.000389,0.4,0.666667
78,0.96,0.162884,0.239186,0.009957,0.083086,0.0,0.264021,0.2,0.222222
79,0.96,0.419226,1.000000,0.009957,1.000000,0.0,1.000000,0.4,0.111111

In [6]:
# create excel writer object
#writer = pd.ExcelWriter('data_training.xlsx')

# write dataframe to excel
#df.to_excel(writer)

# save the excel
#writer.save()

#print('Datatraining is written successfully to Excel File.')

In [25]:
# Training Examples ( m, n )
T = df
m, n = len(T), len(T.loc[0])
print(m,n)

80 9

In [26]:
conn = mysql.connector.connect(host='localhost',database='waterquality',user='root',password='',charset='utf8',use_unicode=True)
if conn.is_connected():
    #get 
    sql_select = '''SELECT `Suhu (C)` as suhu,`Zat padat terlarut (TDS) mg/L` as zt_tds, `Zat padat tersuspensi (TSS) mg/L` as zt_tss,`pH` as ph,`COD (dichromat) mg/L` as cod,`Nitrat mg/L` as nitrat,`Minyak dan Lemak Âµg/L` as minyak,`Bakteri Koli Jml/100 mL`as bk,`Bakteri Koli Tinja Jml/100 mL` as bkt FROM `water_bobot`;'''
    cursor = conn.cursor(buffered=True, dictionary=True)
    cursor.execute(sql_select)        
    dbobot = cursor.fetchall()
    #print(data_bobot)
    dbobot = pd.DataFrame(dbobot)
    data_bobot={'suhu':[],'zt_tds':[],'zt_tss':[],'ph':[],'cod':[],'nitrat':[],'minyak':[],'bk':[],'bkt':[]}
    for i in dbobot['suhu']:
            data_bobot['suhu'].append(i/max_suhu)
    for j in dbobot['zt_tds']:
            data_bobot['zt_tds'].append(j/max_zt_tds)
    for k in dbobot['zt_tss']:
            data_bobot['zt_tss'].append(k/max_zt_tss)
    for l in dbobot['ph']:
            data_bobot['ph'].append(l/max_ph)
    for m in dbobot['cod']:
            data_bobot['cod'].append(m/max_cod)
    for n in dbobot['nitrat']:
            data_bobot['nitrat'].append(n/max_nitrat)
    for r in dbobot['minyak']:
            data_bobot['minyak'].append(r/max_minyak)
    for s in dbobot['bk']:
            data_bobot['bk'].append(s/max_bk)
    for p in dbobot['bkt']:
            data_bobot['bkt'].append(p/max_bkt)
#print(pd.DataFrame(data_bobot))
data_bobot = pd.DataFrame(data_bobot, index=['Cemar Ringan','Cemar Sedang','Cemar Berat'])
print(data_bobot)

              suhu    zt_tds    zt_tss        ph       cod  nitrat    minyak  \
Cemar Ringan  0.96  0.025367  0.043257  0.009957  0.077151     0.0  0.027852
Cemar Sedang  0.96  0.106809  0.061069  0.009957  0.020772     0.5  0.073636
Cemar Berat   1.00  0.347130  0.091603  0.009957  0.151335     0.0  0.061236

               bk       bkt
Cemar Ringan  0.2  0.111111
Cemar Sedang  0.2  0.444444
Cemar Berat   0.3  1.000000

In [9]:
# create excel writer object
#writer = pd.ExcelWriter('data_bobot.xlsx')

# write dataframe to excel
#data_bobot.to_excel(writer)

# save the excel
#writer.save()

#print('Databobot is written successfully to Excel File.')

In [27]:
    # weight initialization ( n, C )
    weights = [data_bobot.loc['Cemar Berat'],data_bobot.loc['Cemar Sedang'],data_bobot.loc['Cemar Ringan']]

In [28]:
#data testing to classify
conn = mysql.connector.connect(host='localhost',database='waterquality',user='root',password='',charset='utf8',use_unicode=True)
if conn.is_connected():
    #get records testing
    sql_select_test = '''SELECT `Suhu (C)` as suhu,`Zat padat terlarut (TDS) mg/L` as zt_tds, `Zat padat tersuspensi (TSS) mg/L` as zt_tss,`pH` as ph,`COD (dichromat) mg/L` as cod,`Nitrat mg/L` as nitrat,`Minyak dan Lemak Âµg/L` as minyak,`Bakteri Koli Jml/100 mL`as bk,`Bakteri Koli Tinja Jml/100 mL` as bkt FROM `waterquality_jakarta_training` WHERE `periode` = '2018-2';'''
    cursor = conn.cursor(buffered=True, dictionary=True)
    cursor.execute(sql_select_test)        
    dtest = cursor.fetchall()
    dtest = pd.DataFrame(dtest)
    dtest
    print(dtest)

  suhu zt_tds zt_tss ph cod nitrat minyak bk bkt
0   24    294     60  7  37      0   1.87  3   1
1   24    418     30  7  28      0    148  7   2
2   24     80     12  7  11      2     27  5   1
3   24    162     20  7   4      0    115  3   8
4   24    115     29  7   4      2     36  3   1
5   24    118     30  7   4      1    223  1   2
6   23    399     13  7  35      0    427  3   1
7   24     98     55  7   4      1    110  3   1
8   25    116     10  7   8      0     42  5   6

In [29]:
#normalisasi data
data_test={'suhu':[],'zt_tds':[],'zt_tss':[],'ph':[],'cod':[],'nitrat':[],'minyak':[],'bk':[],'bkt':[]}
for i in dtest['suhu']:
        data_test['suhu'].append(float(i)/max_suhu)
for j in dtest['zt_tds']:
        data_test['zt_tds'].append(float(j)/max_zt_tds)
for k in dtest['zt_tss']:
        data_test['zt_tss'].append(float(k)/max_zt_tss)
for l in dtest['ph']:
        data_test['ph'].append(float(l)/max_ph)
for m in dtest['cod']:
        data_test['cod'].append(float(m)/max_cod)
for n in dtest['nitrat']:
        data_test['nitrat'].append(float(n)/max_nitrat)
for r in dtest['minyak']:
        data_test['minyak'].append(float(r)/max_minyak)
for s in dtest['bk']:
        data_test['bk'].append(float(s)/max_bk)
for p in dtest['bkt']:
        data_test['bkt'].append(float(p)/max_bkt)
data_test = pd.DataFrame(data_test)
print(data_test[0:2])

   suhu    zt_tds    zt_tss        ph       cod  nitrat    minyak   bk  \
0  0.96  0.392523  0.152672  0.009957  0.109792     0.0  0.000357  0.3
1  0.96  0.558077  0.076336  0.009957  0.083086     0.0  0.028233  0.7

        bkt
0  0.111111
1  0.222222

In [30]:
    # training
    ob = SOM()
    
    epochs = 100
    alpha = 0.3
    
    for i in range( epochs ) :
        for j in range(int(m)) :
        
            # training sample
            sample = T.loc[j]
    
            # Compute winner vector
            J = ob.winner( weights, sample )

            # Update winning vector
            weights = ob.update( weights, sample, J, alpha )

    # classify test sample
    result = ob.winnerTest( weights, data_test)
    result = pd.DataFrame(result) 
print( "Test Sample: ")
print(result)
print( "Trained weights : ")
print(pd.DataFrame(weights))

UFuncTypeError: ufunc 'subtract' did not contain a loop with signature matching types (dtype('<U32'), dtype('<U32')) -> dtype('<U32')

In [ ]:
#create excel writer object
writer = pd.ExcelWriter('data_hasil_test.xlsx')

#write dataframe to excel
result.to_excel(writer)

#save the excel
writer.save()

print('Databobot is written successfully to Excel File.')