In [3]:
#Dhimas Nandista
#g6501211010

#Konversi database
#import database;
import mysql.connector
import pypyodbc

class connection():
    def connection = mysql.connector.connect(host='localhost',
                                         database='waterquality',
                                         user='root',
                                         password='',
                                         charset='utf8',
                                         use_unicode=True)

class Konversi():
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='waterquality',
                                             user='root',
                                             password='',
                                             charset='utf8',
                                             use_unicode=True)
        if connection.is_connected():
            db_Info = connection.get_server_info()
            print("Connected to MySQL Server version ", db_Info)
            # get all records
            sql_select_Query = "SELECT * FROM `kualitas-air-sungai-periode-2-tahun-2020`"
            cursor = connection.cursor(buffered=True, dictionary=True)
            cursor.execute(sql_select_Query)        
            data_kualitas_pd1_2018 = cursor.fetchall()

            for data in data_kualitas_pd1_2018:

                titik_pantau = data['titik_pantau']
                sql_select_Query = "SELECT * FROM `waterquality_jakarta` where titik_pantau = '%s'" % (titik_pantau)
                cursor = connection.cursor(buffered=True, dictionary=True)
                cursor.execute(sql_select_Query)    
                water_qua = cursor.fetchone()

                if not water_qua:
                    #insert
                    sql_insert_Query = "INSERT INTO `waterquality_jakarta`(`nama_sungai`, `titik_pantau`, `bujur_timur`, `lintang_selatan`)VALUES(%s, %s, %s, %s)"
                    record = (data['nama_sungai'], data['titik_pantau'], data['bujur_timur'], data['lintang_selatan'])
                    cursor.execute(sql_insert_Query, record)
                    connection.commit()

                if(data['parameter'] == 'Suhu'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Suhu (C)`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()


                if(data['parameter'] == 'Zat padat terlarut (TDS)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Zat padat terlarut (TDS) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Zat padat tersuspensi (TSS)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Zat padat tersuspensi (TSS) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'pH'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `pH`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'BOD (20C' or data['parameter'] == 'BOD (20?C' or data['parameter'] == 'BOD (20?C. 5 hari)'):
                    if(data['hasil_analisa'] != ''):
                        #udate
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `BOD (C)`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'COD (dichromat)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `COD (dichromat) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Total Phosphat (PO4)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Total Phosphat (PO4) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Nitrat'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Nitrat mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Kadmium (Cd)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Kadmium (Cd) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Crom Hexavalen (Cr6+)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Crom Hexavalen (Cr6+) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Tembaga (Cu)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Tembaga (Cu) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Timah Hitam (Pb)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Timah Hitam (Pb) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Merkuri'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Merkuri mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Seng (Zn)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Seng (Zn) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Flourida'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Flourida mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Nitrit (NO2)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Nitrit (NO2) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Klorin Bebas'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Klorin Bebas mg/L`= %s where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Sulfida (H2S)'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Sulfida (H2S) mg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Minyak dan Lemak'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Minyak dan Lemak µg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Senyawa Aktif Biru Metilen'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Senyawa Aktif Biru Metilen µg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Fenol'):
                     if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Fenol µg/L`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Bakteri Koli'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Bakteri Koli Jml/100 mL`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Bakteri Koli Tinja'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Bakteri Koli Tinja Jml/100 mL`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Indeks Pencemar'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Indeks Pencemar`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

                if(data['parameter'] == 'Kategori'):
                    if(data['hasil_analisa'] != ''):
                        #update
                        sql_update_Query = "UPDATE `waterquality_jakarta` SET `Kategori`= '%s' where titik_pantau = '%s'" % (data['hasil_analisa'],titik_pantau)
                        cursor.execute(sql_update_Query)
                        connection.commit()

            print("Total number of rows in table: ", cursor.rowcount)    
    except Error as e:
        print("Error while connecting to MySQL", e)

IndentationError: expected an indented block (Temp/ipykernel_976/3261598267.py, line 20)

In [6]:
#Select data dari database
from Self_organizing_maps_water_quality import *

conn = connection.connection()

if connection.is_connected():
    # get records training
    sql_select_Query = "SELECT `Zat padat terlarut (TDS) mg/L`, `Zat padat tersuspensi (TSS) mg/L`,`Nitrat mg/L`,`Nitrit (NO2) mg/L`,`Bakteri Koli Jml/100 mL`,`Bakteri Koli Tinja Jml/100 mL` FROM `waterquality_jakarta_training` WHERE `Zat padat terlarut (TDS) mg/L` != "" AND `Zat padat tersuspensi (TSS) mg/L` != "" AND `BOD (C)` != "" AND `Nitrat mg/L` != "" AND `Nitrit (NO2) mg/L` != "" AND `Bakteri Koli Jml/100 mL` != "" AND `Bakteri Koli Tinja Jml/100 mL` != "";"
    cursor = conn.cursor(buffered=True, dictionary=True)
    cursor.execute(sql_select_Query)        
    data_training = cursor.fetchall()

SyntaxError: invalid syntax (Temp/ipykernel_976/3769610238.py, line 2)

In [5]:
import math


class SOM :
	
	# Function here computes the winning vector
	# by Euclidean distance
	def winner( self, weights, sample ) :
		
		D0 = 0	
		D1 = 0
		
		for i in range( len( sample ) ) :
			
			D0 = D0 + math.pow( ( sample[i] - weights[0][i] ), 2 )
			D1 = D1 + math.pow( ( sample[i] - weights[1][i] ), 2 )
			
			if D0 > D1 :
				return 0
			else :
				return 1
	
	# Function here updates the winning vector
	def update( self, weights, sample, J, alpha ) :
		
		for i in range( len ( weights ) ) :
			weights[J][i] = weights[J][i] + alpha * ( sample[i] - weights[J][i] )

		return weights

# Driver code
def main() :
	
	# Training Examples ( m, n )
	T = [ [ 1, 1, 0, 0 ], [ 0, 0, 0, 1 ], [ 1, 0, 0, 0 ], [ 0, 0, 1, 1 ] ]

	m, n = len( T ), len( T[0] )
	
	# weight initialization ( n, C )
	weights = [ [ 0.2, 0.6, 0.5, 0.9 ], [ 0.8, 0.4, 0.7, 0.3 ] ]
	
	# training
	ob = SOM()
	
	epochs = 3
	alpha = 0.5
	
	for i in range( epochs ) :
		for j in range( m ) :
			
			# training sample
			sample = T[j]
			
			# Compute winner vector
			J = ob.winner( weights, sample )
		
			# Update winning vector
			weights = ob.update( weights, sample, J, alpha )
			
	# classify test sample
	s = [ 0, 0, 0, 1 ]
	J = ob.winner( weights, s )
	
	print( "Test Sample s belongs to Cluster : ", J )
	print( "Trained weights : ", weights )
	
if __name__ == "__main__":
	main()

Test Sample s belongs to Cluster :  0
Trained weights :  [[0.6000000000000001, 0.8, 0.5, 0.9], [0.3333984375, 0.0666015625, 0.7, 0.3]]

In [ ]:
#memilh bobot
#Zat padat terlarut (TDS) mg/L
#Zat padat tersuspensi (TSS) mg/L
#Nitrat mg/L
#Nitrit (NO2) mg/L
#Bakteri Koli Jml/100 mL
#Bakteri Koli Tinja Jml/100 mL

#cemar ringan
#cemar berat 
#cemar sedang